& {
  color: $myCardColor;
  padding: 0px 50px 60px 70px;
  @media (max-width: 576px) {
    padding: 0px 0px 30px 0px;
  }
  h1 {
    font-size: 4em;
    text-shadow: $whiteTextShadow;
  }
  .top {
    height: 10px;
    border-bottom: 2px solid $myCardColor;
    border-top: 1px solid $myCardColor;
  }
  .bottom {
    height: 10px;
    border-top: 2px solid $myCardColor;
    border-bottom: 1px solid $myCardColor;
  }
}
