& {
  background-color: rgba(0,0,0,0.6);
  border-width: 0;
  @media (min-width: 576px) {
    //margin-bottom: 60px;
    margin-top: 50px;
  }

  .navbar-nav > .active > a {
    background: none;
    color: $activeFontColor;
  }
  .container {
    position: relative;
  }
  .navbar-brand {
    color: $menuColor;
  }
  .navbar-nav > li > a {
    text-transform: uppercase;
    color: $menuColor;
  }
  .navbar-brand {
    border: 1px solid #fff;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 14px;
    left: 15px;
    padding-top: 19px;
    font-size: 1.6em;
    text-indent: -7px;
  }
  .nav.navbar-nav {
    color: red !important;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
