<div class="container no-content-background">
  <div class="row">
    <div class="col-xs-12">
      <h1>Gallery</h1>

      {{#each @groups as |group|}}
        {{#link-to "group" group.id class="col-sm-4 pic"}}
          <h4>{{group.title}}</h4>
          <img src={{group.image}} class="img-thumbnail" />
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>
