<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center contact-me">
      E-mail: eszter@fekete-toth.uk <br /> Tel: <a href="tel:+447739471959">07739 471959</a>
    </div>
  </div>
</div>
