<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <div class="content">
        <div class="contact-me">
          <p class="contact-me">
            E-mail: eszter@fekete-toth.uk <br /> Tel: <a href="tel:+447739471959">07739 471959</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
