<div class="container no-content-background">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{@group.title}}</h1>
        {{#photo-swipe class="gallery" modal=true items=@group.pictures history=false as |photoswipe|}}
          {{#each @group.pictures as |item index|}}
            <div class="pic">
              <img src={{item.src}} {{action photoswipe.actions.open (hash index=index)}} />
            </div>
          {{/each}}
        {{/photo-swipe}}
    </div>
  </div>
</div>
