<BsNavbar fluid=false as |navbar|>
  <div class="container">
  <div class="navbar-header">
    <navbar.toggle />
    <LinkTo class="navbar-brand" @route="home">EFT</LinkTo>
  </div>
  <navbar.content>
    <navbar.nav class="navbar-right" as |nav|>
      <nav.item>
        <nav.linkTo @route="home">Home</nav.linkTo>
      </nav.item>
      <nav.item>
        <nav.linkTo @route="portfolio">Gallery</nav.linkTo>
      </nav.item>
      <nav.item>
        <nav.linkTo @route="about">About</nav.linkTo>
      </nav.item>
      <nav.item>
        <nav.linkTo @route="art-teaching">Courses</nav.linkTo>
      </nav.item>
      <nav.item>
        <nav.linkTo @route="contact-me">Contact</nav.linkTo>
      </nav.item>
    </navbar.nav>
  </navbar.content>
  </div>
</BsNavbar>
